<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>3 - Crear helpers</title>

    <!-- Se importa la libreria de Handlebars -->
    <script type="text/javascript" src="assets/js/libs/handlebars-latest.js"></script>
  </head>
  <body>

    <!-- Se declara el contenedor donde irá el contenido de la plantilla-->
    <hr>
    <div id="contenedor"></div><hr>

    <!-- With -->
    <script type="text/x-handlebars-template" id="index">
      {{link_to "contacto" "Página de contacto"}}
    </script>




    <script type="text/javascript">
      var plantilla = document.getElementById('index').innerHTML;
      var compile = Handlebars.compile(plantilla);
      var data = {}

      Handlebars.registerHelper('link_to', function(url, name){
        var name = Handlebars.Utils.escapeExpression(name),
            url = Handlebars.Utils.escapeExpression(url),
            link = "<a href=\"" + location.protocol + "//" +location.host + "/" + url + "\">" + name + "</a>";
        return new Handlebars.SafeString(link);
      });
      var compileHTML = compile(data);
      document.getElementById('contenedor').innerHTML += compileHTML;



    </script>


  </body>
</html>
