<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>2 - Usar helpers</title>

    <!-- Se importa la libreria de Handlebars -->
    <script type="text/javascript" src="assets/js/libs/handlebars-latest.js"></script>
  </head>
  <body>

    <!-- Se declara el contenedor donde irá el contenido de la plantilla-->
    <hr>
    <div id="contenedor_with"></div><hr>
    <div id="contenedor_if"></div><hr>
    <div id="contenedor_each"></div><hr>

    <!-- With -->
    <script type="text/x-handlebars-template" id="index_with">
      {{#with autor}}
        <h2>{{nombre}}, {{apellido}}</h2>
      {{/with}}
    </script>

    <!-- If - unless es lo opuesto de if -->
    <script type="text/x-handlebars-template" id="index_if">
      {{#if es_desarrollador}}
        <h2>{{nombre}} es desarrollador</h2>
      {{else}}
        <div>No es programador</div>
      {{/if}}
    </script>

    <!--each -->
    <script type="text/x-handlebars-template" id="index_each">
      {{#each comentarios}}
        <h2>{{autor}}: <em>{{mensaje}}</em></h2>
      {{/each}}
    </script>


    <script type="text/javascript">
      // With
      var plantilla = document.getElementById('index_with').innerHTML;
      var compile = Handlebars.compile(plantilla);
      var data = {
        autor: {
          nombre: 'Jonatan',
          apellido: 'Parra'
        }
      }
      var compileHTML = compile(data);
      document.getElementById('contenedor_with').innerHTML += compileHTML;

      // If
      plantilla = document.getElementById('index_if').innerHTML;
      compile = Handlebars.compile(plantilla);
      data = {
          nombre: 'Jonatan',
          es_desarrollador: true
      }
      var compileHTML = compile(data);
      document.getElementById('contenedor_if').innerHTML += compileHTML;


      // Each
      plantilla = document.getElementById('index_each').innerHTML;
      compile = Handlebars.compile(plantilla);
      data = {
          comentarios: [
            {
              autor: 'Siro',
              mensaje: 'Hola!'
            },
            {
              autor: 'Pepe',
              mensaje: "Mensaje de pepe"
            }
          ]
      }
      var compileHTML = compile(data);
      document.getElementById('contenedor_each').innerHTML += compileHTML;
    </script>


  </body>
</html>
