<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>1 - Handlebars</title>

    <!-- Se importa la libreria de Handlebars -->
    <script type="text/javascript" src="assets/js/libs/handlebars-latest.js"></script>
  </head>
  <body>

    <!-- Se declara el contenedor donde irá el contenido de la plantilla-->
    <div id="contenedor"></div>

    <!-- Se crea la plantilla con el type = text/x-handlebars-template -->
    <script type="text/x-handlebars-template" id="index">
      <div>Hola me llamo {{{ nombre }}} </div>
    </script>

    <!-- Se obtiene el contenido del JS, se compila y se le pasan las variables necesarias -->
    <!-- para luego pintar el contenido en el contenedor principal -->
    <script type="text/javascript">
      var plantilla = document.getElementById('index').innerHTML;
      //console.log(plantilla);
      var compile = Handlebars.compile(plantilla);
      var compileHTML = compile({nombre: '<em>Jonatan</em>'});
      document.getElementById('contenedor').innerHTML += compileHTML;
    </script>


  </body>
</html>
